.cms .quickaddnew-field{
	position: relative;
}
.cms .quickaddnew-button,
.cms .quickaddnew-field a {
	top: 2px;
	margin-left: 5px;
	vertical-align: top;
}

.quickaddnew-dialog{
	max-height: 600px;
	overflow: auto;
}